<body class="wrapper">
  <form class="form-signin" [formGroup]="form" (ngSubmit)="submit()">
    <h1 class="">Passenger Registration</h1>

    <span class="red-note" *ngIf="!form.controls['first_name'].valid && form.controls['first_name']?.touched">*</span>
    <label for="inputFirstName" class="">First Name</label>
    <input formControlName="first_name" id="inputFirstName" class="" placeholder="First Name" required>

    <span class="red-note" *ngIf="!form.controls['last_name'].valid && form.controls['last_name']?.touched">*</span>
    <label for="inputLastName" class="">Last Name</label>
    <input formControlName="last_name" id="inputLastName" class="" placeholder="Last Name" required>

    <span class="red-note" *ngIf="!form.controls['username'].valid && form.controls['username']?.touched">*</span>
    <label for="inputUsername" class="">Username</label>
    <input formControlName="username" id="inputUsername" class="" placeholder="Username" required>

    <span class="red-note" *ngIf="!form.controls['email'].valid && form.controls['email']?.touched">*</span>
    <label for="inputEmail" class="">Email address</label>
    <input formControlName="email" id="inputEmail" type="email" class="" placeholder="Email address" required>

    <span class="red-note" *ngIf="!form.controls['password'].valid && form.controls['password']?.touched">*</span>
    <label for="inputPassword" class="">Password</label>
    <input formControlName="password" id="inputPassword" type="password" class="" placeholder="Password" required>

    <span class="red-note" *ngIf="!form.controls['phone'].valid && form.controls['phone']?.touched">*</span>
    <label for="inputPhone" class="">Phone</label>
    <input formControlName="phone" id="inputPhone" class="" placeholder="Phone" required>
    <p *ngIf="userAlreadyExist">It seems like you already have an account</p>

    <button class="passenger-reg-btn" type="submit" [disabled]="form.invalid">Sign up</button>
  </form>
</body>
