.wrapper {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-left: 30px;
}
.ride-box {
  width: 300px;
  display: flex;
  text-align: left;
  justify-content: space-between; 
  background-color: rgba(244, 251, 255, 0.596);
  border-radius: 8px;
  margin-bottom: 15px;
  overflow: hidden;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  padding: 10px 5;
  max-width: 400px;
}

.ride-box:hover {
  box-shadow:-20px 18px 20px rgba(0, 0, 0, 0.1)
}

.ride-details {
  padding: 10px;
}

h2 {
  color: #333;
}

h3, h4 {
  margin: 0;
  color: #555;
  font-size: 20px;
  font-family: serif;
}

p {
  color: #777;
}

.join-btn {
  color: #46b92c;
  background-color: transparent;
  border: none;
  padding: 5px 6px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 54% 46% 41% 59% / 37% 42% 58% 63% ;
  transition: background-color 0.3s ease-in-out;
}

.join-btn:hover {
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 54% 46% 41% 59% / 37% 42% 58% 63% ;
}

.passenger-list {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.passenger-list p {
  margin: 5px;
}
.available-title{
  font-family: serif ;
}