<div class="header">
  <div></div>
  <div class="logo">
    <h1>Logo</h1>
  </div>
  <div class="header-btns">
    <button class="toggle-button" (click)="toggleMyRides()">
      {{ showMyRides ? 'Create ride' : ' MyRides' }}
    </button>
    <button class="logout-btn" (click)="logOut()"><span class="material-icons"><i class="fas fa-sign-out-alt"></i></span></button>
  </div>
</div>

<div class="wrapper">
  <div class="first-section-items">
    <div class="left-box">
      <div class="left-box-content">
        <h2 class="welcome-title" *ngFor="let field of userDetails">Welcome {{ field.first_name }}</h2>
        <p>Where are we going today?</p>
      </div>
      <div class="second-bubble">            
      </div>
      <div class="third-bubble">        
      </div>
    </div>

    <div class="right-box">
          <div class="ride-section">
            <app-create-ride *ngIf="!showMyRides"></app-create-ride>
            <app-driver-ride *ngIf="showMyRides"></app-driver-ride>
          </div>
  </div>
</div>
