<app-header></app-header>

<div class="wrapper">
  <div class="first-section-items">
    <div class="left-box">
      <h1>Sharing system for anyone!</h1>
      <p>Join our community and start sharing.</p>
      <button class="join-button" (click)="goToPage('registration')">Join Us</button>
      <button class="login-button" (click)="goToPage('login')">Login</button>
    </div>
    <div class="right-box">
     <h1>Welcome</h1>
      <img class=car-img src="../../assets/car-img.png" alt="">
  </div>
</div>
