<app-header></app-header>

<div class="wrapper">
  <div class="first-section-items">
    <div class="left-box">
      <h1 class="left-title">Sharing system for anyone!</h1>
      <p>Join our community and start sharing.</p>
      <button class="join-button" (click)="goToPage('registration')">Join Us</button>
      <button class="login-button" (click)="goToPage('login')">Login</button>
    </div>
    <div class="right-box">
      <div class="right-box-content">
     <h1 class="welcome-title">Welcome to RideShare</h1>
     <p>Our system facilitates connections between drivers and passengers within the base.</p>
     <p>Our objective is to address the transportation challenges faced by soldiers without personal vehicles,
       making it easier and more comfortable for them to travel around the base.</p>
      </div>
      <img class=car-img src="../../assets/car-img.png" alt="">
  </div>
</div>
