/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import 'bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
    font-family: math;
    overflow: overlay !important;
    background-color: rgba(244, 245, 245, 0.863);
}

::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color:transparent;
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background-color: #eee;
}
