.header {
  display: flex;
  height: 60px;
  margin-bottom: 7px;
  background-color: rgb(236, 236, 236);
  justify-content: space-between;
  align-items: center; 
  padding: 0 20px; 
  box-shadow: -9px -2px 20px rgba(0, 0, 0, 0.2);
}
  .home-btn{
    background-color: transparent;
    border: none;
    border-radius: 12px;
  }
  .logo-img{
    width: 200px;
    height: 50px;
    mix-blend-mode: color-burn;
    
  }